#container {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 500px max-content; 
  gap: 0px 0px; 
  grid-template-areas: 
    "topArea"
    "bottomArea"; 
}
#topArea {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "primaryKitArea groupsArea"; 
  grid-area: topArea; 
}
#primaryKitArea {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 50px 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "uploadInfoArea"
    "primaryKitListArea"; 
  grid-area: primaryKitArea; 
}
#uploadInfoArea { grid-area: uploadInfoArea; }
#primaryKitListArea { grid-area: primaryKitListArea; }
#groupsArea { grid-area: groupsArea; }
#bottomArea { grid-area: bottomArea; }